/********** colors **********/

// 라이트 모드
$light-bg: #fafafa;
$light-text: #222;
$light-navbar: #fff;
$light-card: #fff;

// 다크 모드
$dark-bg: #141416;
$dark-text: #f1f1f1;
$dark-navbar: #222128;
$dark-card: #302e3a;

// 공통 컬러
$primary: #ff7473;
$success: #47b8e0;
$danger: #ffc952;
$info: #30aabd;
$warning: #ffba53;
$black: #333;
$white: #fff;
