// --------------------------------------
// 색상정의
// --------------------------------------
$primary: #ffc952;
$success: #47b8e0;
$danger: #ff7473;
$info: pink;
$warning: #ff7473;

$primary: #ffc952;

$dark: #222128;
$light: #fafafa;

$black: #141416;

